MONGO_CONNECTION_STRING=mongodb://user:password@host:port
MONGO_DATABASE_NAME=aruppi
ARUPPI_API_KEY=your_aruppi_api_key
DANBOORU_BASE_URL=https://danbooru.donmai.us
DANBOORU_LOGIN=your_danbooru_login
DANBOORU_API_KEY=your_danbooru_api_key
